.title-red {
    color: red;
}
.header {
    width: 100%;
    background-color: blue;
    height: 100 px;
    text-align: center;
}
.content {
    width: 100%;
    background-color: yellow;
    height: 300 px;
    text-align: center;
}
.footer {
    width: 100%;
    background-color: red;
    height: 100 px;
    text-align: center;
}

  