<section class="section">
    <div class="card">
      <img src="../../../../assets/El Exorcista.jpg" alt="">
      <h2>El Exorcista</h2>
      <p>Descripción de la pelicula 1.</p> 
    </div>
  
    <div class="card">
      <img src="./../../../../assets/Flash.jpg" alt="">
      <h2>Flash</h2>
      <p>Descripción de la película 2.</p>
    </div>
  
    <div class="card">
      <img src="../../../../assets/La cita de Carl.jpg" alt="">
      <h2>La cita de Carl</h2>
      <p>Descripción de la película 3.</p>
    </div>
  
    <div class="card">
      <img src="../../../../assets/Loki.jpg" alt="">
      <h2>Loki</h2>
      <p>Descripcion de la pelicula 4.</p>
    </div>
  
    <div class="card">
      <img src="../../../../assets/Nowhere.jpg" alt="">
      <h2>Nowhere</h2>
      <p>Descripción de la película 5.</p>
    </div>
  
    <div class="card">
      <img src="../../../../assets/SawVI.jpg" alt="">
      <h2>SawVI</h2>
      <p>Descripción de la película 6.</p>
    </div>
  
    <div class="card">
      <img src="../../../../assets/Shrek2.jpg" alt="">
      <h2>Shrek2</h2>
      <p>Descripción de la película 7.</p>
    </div>
  
    <div class="card">
      <img src="../../../../assets/Spiderman.jpg" alt="">
      <h2>Spiderman</h2>
      <p>Descripción de la película 8.</p>
    </div>
</section>
  
